@import 'reset.css';
@import 'typo.css';

/* General */

.left{float:left;}
.right{float:right;}
.clearfix{clear:both;}
.list-inline li{display:inline; margin:0 10px}

/* Wrappers */
#pageWrapper { width: 75%; margin: 0 auto; }
.partialWrapper { width: 98%; height: 80px; margin: 0 1%;}
.contentWrapper { width: 96%; margin: 20px auto; text-align:center;}
.contentWrapper.scroll {overflow:hidden}
.contentWrapper img{height:100%;}

/* Header */
.partialWrapper header {padding-top:20px;}

/* Logo */
header #logo{width:160px; height:50px; float:left;}
header #logo h1 {width:160px; height:50px; background:url(../img/themes/innovate.png) no-repeat center center;}
header #logo h1 a{display:block; text-indent:-9999px;}

/* -------------------------------Navigation-------------------------- */
.partialWrapper header #navigation{}

/* Main Menu */
header #navigation #menu{margin-top:30px}
header #navigation #menu ul {margin-right:10px;}
header #navigation #menu ul li{display:inline; margin:0 10px}

/* Personal/Business Section */
a.biz-section{height:20px; color:#C6C6C6; font-size:14px; margin-top:0; font-weight:bold;}
a.biz-section:hover{color:#007cc3; text-shadow:none;}
a.biz-section.active{color:#007cc3;}

/* User Login Area */
#users{height:20px; background:#007cc3; color:#FFF; font-size:11px; margin-top:3px; border-radius:20px; }
#users a{color:#FFF; margin:0 10px; font-size:12px}

/* Footer */
footer {margin:20px;}
footer .footer-menu {float:left; width:128px;}
footer .footer-menu h5 {font-size:14px; color:#007cc3;}
footer .footer-menu ul {font-size:12px; margin-left:0px;}
footer .footer-menu ul li{margin:0px; padding:0;}
footer .footer-menu ul li a{color:#717174}
footer .footer-menu ul li a:hover{color:#007cc3}

#ack {clear:both;background:#007cc3;border-radius:20px;height:20px;}
#ack p{font-family: Helvetica Neue, Helvetica, Tahoma, sans-serif;font-size: 11px; color:#FFF; margin:2px 0 0 20px;}
#ack ul {margin:-5px 20px 0 0; padding:0; height:20px;}
#ack ul li{margin:0 0 0 10px; padding:0;}
#ack ul li a{font-family: Helvetica Neue, Helvetica, Tahoma, sans-serif;font-size: 11px; color:#FFF;}
#ack ul li a:hover{color:#FF0; text-shadow:none;}