
	 	<div id="maintenance" class="content-wrapper">
		    <div id="subscription">
		    	<p class="acknowledge">Welcome to our homepage. We have not quite finished setting up our website yet, but please <span style="font-weight:bold; color:#0F68A4;">subscribe with your email</span> and we will inform you when this site is ready.</p>
			    <form id="subscribe-form">
			    	<input type="text" id="email" name="email" value="Enter your email address" /> &nbsp;
			        <input type="submit" id="subscribe" class="btn submit" value="Subscribe" />
			    </form>
			    <div id="msg-ajax"></div>
		    </div>
		    <div id="copy">Copyright &copy; 2013 Innovate. All rights reserved.</div>
		</div>	