<!-- Begin footer -->
<footer>
	<div class="footer-menu">
		<h5>Customer</h5>
		<ul>
			{{ navigation:links group="customer" }}
		</ul>
	</div>
	<div class="footer-menu">
		<h5>News</h5>
		<ul>
			{{ navigation:links group="news" }}
		</ul>
	</div>
	<div class="footer-menu">
		<h5>Support</h5>
		<ul>
			{{ navigation:links group="support" }}
		</ul>
	</div>
	<div class="footer-menu">
		<h5>About Us</h5>
		<ul>
			{{ navigation:links group="about-us" }}
		</ul>
	</div>
	<div class="footer-menu">{elapsed_time}</div>
	<div class="clearfix"></div>
</footer>
<div id="ack">
	<p class="left">Copyright &copy; <?php echo date('Y');?> Innovate. All Rights Reserved</p>
	<ul id="util-link" class="list-inline right">
		{{ navigation:links group="footer" }}
	</ul>
	<div class="clearfix"></div>
</div>

<!-- End footer -->
<!-- Begin scripts -->
	<!-- {{ theme:js file="localscroll.js" }} -->
	<!-- {{ theme:js file="scrollto.js" }} -->
	<!-- {{ theme:js file="easing.js" }} -->
	<!-- {{ theme:js file="global.js" }} -->
	{{ theme:js file="jquery.mCustomScrollbar.min.js" }}
	{{ theme:js file="main.js" }}
<!-- End scripts -->