<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata" }}
</head>
<body id="top" class="page-product">

	<!-- Begin pageWrapper -->
	<div id="pageWrapper">
		{{ integration:analytics }}
		
		<!-- Begin Header Content -->
		<div class="contentWrapper">
			{{ theme:partial name="header" }}
		</div>
		<!-- End Header Content -->

		<!-- Begin contentWrapper -->
		<div id="contentWrapper">
			{{ theme:partial name="content_products" }}
			{{ theme:partial name="footer" }}
		</div>
		<!-- End contentWrapper -->
	</div>
	<!-- End pageWrapper -->

</body>
</html>